
.App {
  text-align: center;
  display: grid;  
  font-family: 'Doctor Soos';
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  font-size: 36px;
}

@font-face {
  font-family: 'Doctor Soos';
  src: url('./Doctor_Soos_Light_1.1.ttf');
}

.KierraNav {
  grid-column-start: 0;
  grid-column-end: 1;
}

.Nav {
  text-align: center;
  font-family: 'Doctor Soos';
}

a {
  text-decoration: none;
  color: white;
}

.quantity-row, .minus, .plus, .quantity{
  display: inline-block;
}

.plus, .minus {
  width: 50px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.AuthorNav {
  grid-column-start: 1;
  grid-column-end: 2;
  cursor: pointer;
}

.App-header {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  background-color: blue;
  grid-template-columns: auto auto auto;
  border-bottom: 1px solid black;
}

.PurchaseNav {
  grid-column-start: 2;
  grid-column-end: 3;
  cursor: pointer;
}

.ContactNav {
  grid-column-start: 3;
  grid-column-end: 4;
  cursor: pointer;
}

.App-body {
  grid-row-start: 2;
  grid-row-end: 2;
}

.Author {
  margin: auto;
  width: 400px;
  text-align: center;
  padding-top: 40px;
}

.BookCover {
  width: 100%;
  margin-bottom: 20px;
  float: left;
}

.BookCoverImage {
  width: 100%;
  height: 100%;
}

.AuthorImage {
  width: 100%;
  height: 100%;
}

.AuthorImageContainer {
  height: auto;
  margin-bottom: 20px;
}

.PurchaseLinks {
  margin: auto;
  margin-bottom: 80px;
}

.PeekingPig {
  position: absolute;
  right: 0;
  float: right;
  width: 100px;
  height: 120px;
}

.PeekingPigLeft {
  display: none;
}

.PeekingPigBottom {
  display: none;
}

.BookSummary {
  margin-top: 50px;
  width: 100%;
}

.ContactText {
  margin-bottom: 20px;
  border: 3px solid #94CB71;
}

.BookSummaryText {
  margin: auto;
  width: 330px;
  margin-bottom: 20px;
}

.PeekingPigContactAbove {
  display: none;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  background-color: white;
  height: auto;
  font-size: 14px;
  width: 400px;
  margin: auto;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #8d9197;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.checkout input {
  background-color: white;
  height: auto;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #8d9197;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.smallCheckout {
  width: 25%;
  margin-left: 1%;
  margin-right: 1%;
}

.largeCheckout {
  width: 400px;
  margin: auto;
}

.largeCheckout--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.validationError {
  color: red;
  font-size: 15px;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.checkoutButton {
  border-radius: 4px;
  border: 2px solid black;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-family: 'Doctor Soos';
  font-size: 28px;
}

@media all and (min-width: 600px) {
  .ContactText {
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border: 3px solid #94CB71;
  }

  .App-header {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: grid;
    background-color: blue;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    border-bottom: 1px solid black;
  }

  .PurchaseNav {
    grid-column-start: 9;
    grid-column-end: 10;
    cursor: pointer;
  }

  .ContactNav {
    grid-column-start: 10;
    grid-column-end: 11;
    cursor: pointer;
  }

  .AuthorNav {
    grid-column-start: 8;
    grid-column-end: 9;
    cursor: pointer;
  }

  .Author {
    margin: auto;
    width: 400px;
    text-align: center;
    padding-top: 40px;
  }
  
  .BookCover {
    width: 500px;
    height: auto;
    float: left;
    border: 1px solid black;
    border-left: 4px solid black;
  }

  .AuthorImageContainer {
    width: 500px;
    height: 700px;
    margin-top: 30px;
    float: left;
    border: 1px solid black;
  }
  
  .BookCoverPurchase {
    width: 300px;
    margin: auto;
    height: 400px;
    border: 1px solid black;
    border-left: 4px solid black;
  }
  
  .BookSummary {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    display: inline-flex;
    z-index: 1000;
  }

  .ContactSummary {
    margin: auto;
    margin-top: 50px;
    display: inline-flex;
    z-index: 1000;
  }
  
  .BookSummaryText {
    margin: auto;
    padding-top: 40px;
    width: 330px;
  }

  .AuthorText {
    font-size: 30px;
    margin: auto;
    width: 530px;
  }
  
  .PeekingPig {
    position: absolute;
    top: 300px;
    right: 0;
    float: right;
    width: 180px;
    height: 240px;
    z-index: -1;
  }
  
  .PeekingPigBottom {
    display: block;
    position: absolute;
    z-index: -1;
    top: 62px;
    left: 100px;
    width: 240px;
    height: 200px;
  }

  .smallCheckout {
    width: 111px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .PeekingPigLeft {
    display: block;
    position: absolute;
    top: 100px;
    left: 0px;
    width: 200px;
    height: 280px;
    z-index: -1;
  }

  .PeekingPigContactAbove {
    display: block;
    position: absolute;
    top: 92px;
    right: 220px;
    width: 260px;
    height: 160px;
    z-index: -1;
  }
}
